# Gizli ayarlar
backend/src/main/resources/application-secret.properties

# Derleme çıktıları
backend/out/
backend/build/
backend/.gradle/

# IntelliJ
.idea/

# Mac
.DS_Store

# Derleme ciktilari (VS Code/Eclipse)
backend/bin/
bin/

# Yanlislikla olusan dosyalar
backend/Get
backend/Process
backend/Run
backend/Task

backend/.settings/

# Secret her yerde gizli kalsin
application-secret.properties
